@import 'reset.css';

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@500;900&display=swap');

body {
    font: 500 1.2rem 'Work Sans', Roboto, 'Open Sans', sans-serif;
}

:root {
    --max-width: 550px;

    --color-main: #EEEB87;
    --color-main-dark: #A8A663;
    --color-accent: #5800DB;
}

.App {
    margin: 0 auto;
    max-width: var(--max-width);
    width: min(90%, var(--max-width));
}

/* =============================
        SEARCH
   ============================= */

.search {
    width: 100%;
    margin: 2rem auto;
    display: flex;
    justify-content: center;
    gap: 2em;
}

.search__field {
    position: relative;
}

.search__input {
    border: 3px solid black;
    padding: 0.3em;
    font-weight: 900;
}

.search__submit {
    position: absolute;
    content: '';
    right: 0;
    top: 0;
    bottom: 0;
    background: #000;
    color: white;
    padding: 0 0.5em;
    line-height: 0.8em;
}

.search__submit:hover,
.search__submit:focus,
.search__unit:hover,
.search__unit:focus {
    cursor: pointer;
    background: var(--color-accent);
    border-color: var(--color-accent);
}

.search__unit {
    background: black;
    color: white;
    padding: 0.3em;
    border: 3px solid black;
    font-weight: 900;
}

/* =============================
        WIDGET
   ============================= */

.weather-widget {
    padding: 2.5rem 4rem 0.5rem 4rem;
    margin-top: 4rem;
    margin-right: 0;
    background: var(--color-main);
    border-radius: 0.7em;
    box-shadow: 8px 8px 0 0 var(--color-main-dark);

    display: grid;
    grid-template-columns: 1fr 1fr;
}

.temp-box {
    
}

.temp-box__city {
    font-weight: 900;
    font-size: 1.7rem;
}

.temp-box__temp {
    color: var(--color-accent);
    font-weight: 900;
    font-size: 5rem;
    line-height: 1;
    margin: 0;
}

.temp-box__feelslike {
    font-size: 0.9rem;
}

.weather {
    position: relative;
    align-self: start;
    text-align: center;
    transform: translateY(-1rem)
}

.weather__icon {
    display: block;
    margin: 0 auto;
}

.weather__text {
    font-weight: 900;
    font-size: 2rem;
}

.min-max {
    display: flex;
}

.min-max__min {
    margin-right: 1em;
}

.details {
    grid-column: -3 / -1;
    display: flex;
    gap: 1.5rem;
    justify-content: center;
    margin-top: 2.5rem;
    font-weight: 900;
    align-self: end;
}

.details svg {
    margin-right: 0.3em;
}